*.html linguist-language=none
*.fs linguist-language=none
*.xml linguist-language=none
*.rst linguist-language=none
*.xdc linguist-language=none
*.js linguist-language=none
*.sh linguist-language=none
*.tcl linguist-language=none
*.jou linguist-language=none
*.log linguist-language=none
*.pb linguist-language=none
*.rpt linguist-language=none
*.vds linguist-language=none
*.wdf linguist-language=none
*.dcp linguist-language=none
*.bat linguist-language=none
*.rpx linguist-language=none
*.vdi linguist-language=none
*.lpr linguist-language=none
*.vhd linguist-language=none
*.vhdl linguist-language=none